SceneController/MotionVideoAndFogger/Motion2VideoFogger.txt
[{"id":"87599bed.ff2098","type":"mqtt in","z":"4f0f1b52.f9b3b4","name":"Motion Change 1","topic":"/halloween/motion/value/1","qos":"2","broker":"d9061909.cda5d8","x":140,"y":160,"wires":[["a7c39ba1.f91ef8"]]},{"id":"1e41d50.195af2b","type":"mqtt in","z":"4f0f1b52.f9b3b4","name":"Fog Machine On/Off","topic":"/halloween/fog/on/1","qos":"2","broker":"d9061909.cda5d8","x":130,"y":280,"wires":[["a7c39ba1.f91ef8"]]},{"id":"e7a2d496.c96068","type":"mqtt in","z":"4f0f1b52.f9b3b4","name":"Fog Machine Charge","topic":"/halloween/fog/charge/1","qos":"2","broker":"d9061909.cda5d8","x":120,"y":340,"wires":[["a7c39ba1.f91ef8"]]},{"id":"46ceaf36.7ca2b","type":"mqtt in","z":"4f0f1b52.f9b3b4","name":"Play Video Started","topic":"/halloween/media/playstarted/1","qos":"2","broker":"d9061909.cda5d8","x":130,"y":400,"wires":[["a7c39ba1.f91ef8"]]},{"id":"35c2cfca.021be","type":"mqtt in","z":"4f0f1b52.f9b3b4","name":"Play Video Ended","topic":"/halloween/media/playended/1","qos":"2","broker":"d9061909.cda5d8","x":130,"y":460,"wires":[["a7c39ba1.f91ef8"]]},{"id":"cc79e53a.5a8e68","type":"function","z":"4f0f1b52.f9b3b4","name":"Transform MQTT MSG into State","func":"\nvar motion1 = flow.get('motion1')||0;\nvar motion2 = flow.get('motion2')||0;\nvar fog1 = flow.get('fog1')||0;\nvar charge1 = flow.get('charge1')||0;\nvar playvideo1 = flow.get('playvideo1')||0;\n\nif (msg.topic=='/halloween/motion/value/1') {\n    if (msg.payload == \"1\")\n        motion1 = 1;\n    else\n        motion1 = 0;\n    flow.set('motion1',motion1);\n}\nif (msg.topic=='/halloween/motion/value/2') {\n    if (msg.payload == \"1\")\n        motion2 = 1;\n    else\n        motion2 = 0;\n    flow.set('motion2',motion2);\n}\nif (msg.topic=='/halloween/fog/on/1') {\n    if (msg.payload == \"1\")\n        fog1 = 1;\n    else\n        fog1 = 0;\n    flow.set('fog1',fog1);\n}\nif (msg.topic=='/halloween/fog/charge/1') {\n    if (msg.payload == \"1\")\n        charge1 = 1;\n    else\n        charge1 = 0;\n    flow.set('charge1',charge1);\n}\nif (msg.topic=='/halloween/media/playstarted/1') {\n    playvideo1 = 1;\n    flow.set('playvideo1',playvideo1);\n}\nif (msg.topic=='/halloween/media/playended/1') {\n    playvideo1 = 0;\n    flow.set('playvideo1',playvideo1);\n}\n\nmsg.topic = '/halloween/state/';\nmsg.motion1 = motion1;\nmsg.motion2 = motion2;\nmsg.fog1 = fog1;\nmsg.charge1 = charge1;\nmsg.playvideo1 = playvideo1;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":260,"wires":[["60b96f90.c3da7","1ba79e6.3e77d62"]]},{"id":"60b96f90.c3da7","type":"function","z":"4f0f1b52.f9b3b4","name":"Play Video","func":"\nif (msg.playvideo1!=1 && (msg.motion1 == 1 || msg.motion2 == 1)) {\n    msg.topic = '/halloween/media/playnext/1';\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":970,"y":220,"wires":[["ebfd6e84.a7031"]]},{"id":"ebfd6e84.a7031","type":"mqtt out","z":"4f0f1b52.f9b3b4","name":"Play Video","topic":"/halloween/media/playnext/1","qos":"1","retain":"","broker":"d9061909.cda5d8","x":1190,"y":220,"wires":[]},{"id":"1ba79e6.3e77d62","type":"function","z":"4f0f1b52.f9b3b4","name":"Fog Machine","func":"\nif (msg.fog1!=1 && msg.playvideo1==1  && msg.charge1==0) {\n    msg.payload = '30';\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":970,"y":320,"wires":[["9a875db1.235f2"]]},{"id":"9a875db1.235f2","type":"mqtt out","z":"4f0f1b52.f9b3b4","name":"Pulse Fog Machine","topic":"/halloween/fog/pulse/1","qos":"1","retain":"","broker":"d9061909.cda5d8","x":1210,"y":320,"wires":[]},{"id":"73a6032f.1f50cc","type":"inject","z":"4f0f1b52.f9b3b4","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":40,"wires":[["e863bf96.b6b0f"]]},{"id":"6d7c8458.f4481c","type":"inject","z":"4f0f1b52.f9b3b4","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":100,"wires":[["e863bf96.b6b0f"]]},{"id":"a7c39ba1.f91ef8","type":"switch","z":"4f0f1b52.f9b3b4","name":"Is this flow enabled?","property":"start-stop","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":400,"y":260,"wires":[["cc79e53a.5a8e68"]]},{"id":"e863bf96.b6b0f","type":"change","z":"4f0f1b52.f9b3b4","name":"Enable / Disable this flow","rules":[{"t":"set","p":"start-stop","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":60,"wires":[[]]},{"id":"e747ea54.afa2c8","type":"mqtt in","z":"4f0f1b52.f9b3b4","name":"Motion Change 2","topic":"/halloween/motion/value/1","qos":"2","broker":"d9061909.cda5d8","x":140,"y":220,"wires":[["a7c39ba1.f91ef8"]]},{"id":"d9061909.cda5d8","type":"mqtt-broker","z":"","broker":"192.168.0.25","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]