SceneController/MotionSkull/NodeRed/MotionSkullLookRightAndLookLeft.txt
[
    {
        "id": "fd62b98c.1fb5d8",
        "type": "mqtt in",
        "z": "14a34fb2.3592a",
        "name": "Motion Sensor Left",
        "topic": "/halloween/motion/value/1",
        "qos": "2",
        "broker": "d9061909.cda5d8",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "ec7e7b07.df9d48"
            ]
        ]
    },
    {
        "id": "16952e9b.2e6571",
        "type": "mqtt in",
        "z": "14a34fb2.3592a",
        "name": "Motion Sensor Right",
        "topic": "/halloween/motion/value/2",
        "qos": "2",
        "broker": "d9061909.cda5d8",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "ec7e7b07.df9d48"
            ]
        ]
    },
    {
        "id": "5a59be4a.afc89",
        "type": "mqtt out",
        "z": "14a34fb2.3592a",
        "name": "Look Level",
        "topic": "/halloween/skull/heady/1",
        "qos": "",
        "retain": "",
        "broker": "d9061909.cda5d8",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "ec7e7b07.df9d48",
        "type": "function",
        "z": "14a34fb2.3592a",
        "name": "Transform MQTT into State",
        "func": "\nvar motionLeft = flow.get('motionLeft')||0;\nvar motionRight = flow.get('motionRight')||0;\nvar lockOut = flow.get('lockOut')||0;\n\nif (msg.topic=='/halloween/motion/value/1') {\n    if (msg.payload == \"1\")\n        motionLeft = 1;\n    else\n        motionLeft = 0;\n    flow.set('motionLeft',motionLeft);\n}\n\nif (msg.topic=='/halloween/motion/value/2') {\n    if (msg.payload == \"1\")\n        motionRight = 1;\n    else\n        motionRight = 0;\n    flow.set('motionRight',motionRight);\n}\n\n\nif (msg.topic=='/halloween/media/playstarted/1') {\n    playvideo1 = 1;\n    flow.set('playvideo1',playvideo1);\n}\nif (msg.topic=='/halloween/media/playended/1') {\n    playvideo1 = 0;\n    flow.set('playvideo1',playvideo1);\n}\n\nmsg.topic = '/halloween/state/';\nmsg.motionLeft = motionLeft;\nmsg.motionRight = motionRight;\nmsg.lockOut = lockOut;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "242c777d.bb69f8",
                "74cd5313.1b98fc",
                "8a14af44.579c4",
                "8a9265e0.256728",
                "db5110a3.e28d1"
            ]
        ]
    },
    {
        "id": "242c777d.bb69f8",
        "type": "function",
        "z": "14a34fb2.3592a",
        "name": "Look Level",
        "func": "if (msg.lockOut === 0 && msg.motionRight == 1 || msg.motionLeft == 1) {\n    msg.topic = '/halloween/skull/heady/1';\n    msg.payload = '0';\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "5a59be4a.afc89"
            ]
        ]
    },
    {
        "id": "74cd5313.1b98fc",
        "type": "function",
        "z": "14a34fb2.3592a",
        "name": "Look Left",
        "func": "if (msg.lockOut === 0 && msg.motionRight != 1 && msg.motionLeft == 1) {\n    msg.topic = '/halloween/skull/headx/1';\n    msg.payload = '45';\n    flow.set('lockOut',1);\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 240,
        "wires": [
            [
                "5e3bdb9c.76a934"
            ]
        ]
    },
    {
        "id": "5e3bdb9c.76a934",
        "type": "mqtt out",
        "z": "14a34fb2.3592a",
        "name": "Look Left",
        "topic": "/halloween/skull/headx/1",
        "qos": "",
        "retain": "",
        "broker": "d9061909.cda5d8",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "8a14af44.579c4",
        "type": "function",
        "z": "14a34fb2.3592a",
        "name": "Look Right",
        "func": "if (msg.lockOut === 0 && msg.motionLeft != 1 && msg.motionRight == 1) {\n    msg.topic = '/halloween/skull/headx/1';\n    msg.payload = '-45';\n    flow.set('lockOut',1);\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 360,
        "wires": [
            [
                "39abeabf.8b6276"
            ]
        ]
    },
    {
        "id": "39abeabf.8b6276",
        "type": "mqtt out",
        "z": "14a34fb2.3592a",
        "name": "Look Right",
        "topic": "/halloween/skull/headx/1",
        "qos": "",
        "retain": "",
        "broker": "d9061909.cda5d8",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "637984bf.a899bc",
        "type": "mqtt out",
        "z": "14a34fb2.3592a",
        "name": "Laugh",
        "topic": "/halloween/skull/laugh/1",
        "qos": "1",
        "retain": "",
        "broker": "d9061909.cda5d8",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "db5110a3.e28d1",
        "type": "function",
        "z": "14a34fb2.3592a",
        "name": "Motion Stopped",
        "func": "if (msg.lockOut == 1 && msg.motionRight === 0 && msg.motionLeft === 0  ) {\n    flow.set('lockOut',0);\n    msg.payload = '0';\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "4c88667b.29d738",
                "3e764813.80b698"
            ]
        ]
    },
    {
        "id": "4c88667b.29d738",
        "type": "mqtt out",
        "z": "14a34fb2.3592a",
        "name": "Look Forward",
        "topic": "/halloween/skull/headx/1",
        "qos": "",
        "retain": "",
        "broker": "d9061909.cda5d8",
        "x": 900,
        "y": 420,
        "wires": []
    },
    {
        "id": "3e764813.80b698",
        "type": "mqtt out",
        "z": "14a34fb2.3592a",
        "name": "Bow Head",
        "topic": "/halloween/skull/bow/1",
        "qos": "",
        "retain": "",
        "broker": "d9061909.cda5d8",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "8a9265e0.256728",
        "type": "function",
        "z": "14a34fb2.3592a",
        "name": "Laugh",
        "func": "if (msg.motionRight == 1 || msg.motionLeft == 1) {\n    msg.payload = '1000 10';\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "637984bf.a899bc"
            ]
        ]
    },
    {
        "id": "d9061909.cda5d8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.0.25",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]